[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pymongo = "*"
python-box = "*"
pydash = "*"
pyyaml = "*"
faker = "*"
flask = "*"
gunicorn = "*"


[dev-packages]

pytest = "*"
pylint = "*"
yapf = "*"
